html {
  height: 100%;
}

body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container{
  width: 100%;
}

a {
  text-decoration: none;
}

h2{
  text-decoration: none;
}

.nav-bar{
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-between; 
  background-color: #2c3e50;
  height: 100px;
}

.nav-menu{
  font-family: inherit;
  float: right;
}

.nav-li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}
.nav-li-a{
	text-decoration: none;
	color: #f2f2f2;
}

.navbar-brand {
  font-family: inherit;
  font-weight: 900;
  margin-left: 60px;
  color: #f2f2f2;
  font-size: xx-large;
}

.container-footer{
  text-align: center;
}

.p-footer{
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  display: block;
}

.footer-social{
  color: #f2f2f2;
  margin-top: 5px;
	
	background-color:inherit;
	border-radius: 5px;
	padding: 15px;
}

.footer-ul{
  overflow: auto;
  display: table;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  
}

.footer-li {
  list-style-type: none;
  text-align: center;
	float: left;
  margin-right: 20px;
  margin-left: 20px;
}
.footer-li-a{
  color: #f2f2f2;
	text-decoration: none;
}

.page-section{
  background-color: #1abc9c;
  padding-top: 60px;  
  padding-bottom: 80px;
}

.bg-white{
  background-color: #f2f2f2;
}

.page-section h2{
  text-align: center;
  font-family: inherit;
  font-weight: 900;
  color: #f2f2f2;
  font-size: 50px;
}

.h-bg-white{
  color: #2c3e50;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 400px;
}

.img-services{
  margin:40px;
  height: 200px;
  width: 200px;
}

.services{
  display: table;
  text-align:center;
}

.service{
  width: 50%;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
}

.product-list{
  padding: 0; 
  list-style-type: none;
  text-align:center;
}

.product-item{
  color: #2c3e50;
  font-size: x-large;
  font-weight: 900;
  margin-top: 30px;
}

footer{
  box-shadow: 0 50vh 0 50vh #2c3e50;
  padding:10px;
  background-color: #2c3e50;
}

.input-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding:14px 0 14px 0;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #45a049;
  text-align: center;
}

.login-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.login-title{
  font-size: 30px;
  color: #2c3e50 !important;
  text-align: center;
  width: 100%;
  display: block;
}



h3{
  font-size: 20px;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.action-bar {
  width: 300px;
  height: 100%;
  background-color: #415561;
  flex-direction: column;
}

.action-item {
  color: #dbdbdb !important;
  padding: 30px;
  border-bottom: 1px solid #dbdbdb;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.action-item a:visited {
  color: #dbdbdb;
}

.action-item a {
  color: #dbdbdb;
}

.action-item:hover {
  color: white;
  cursor: pointer;
}

.action-item-selected {
  background-color: #239888;
}

.action-item i {
  margin-right: 10px;
}

.vertical-line {
  border: 1px solid #ccc;
  height: 100%;
}

.container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.container-pick-date {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  padding:20px;
}

.container-pick-time {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.calendar-bar {
  background-color: #239888;
  color: #dbdbdb;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.calendar-bar-button {
  margin-right: 10px;
  margin-left: 10px;
}

.calendar-box {
  display: grid;
  grid-template-rows: 2fr 3fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekday-box {
  padding:5px;
  background-color: #ddd;
  text-align:center;
}

.date-box {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-date {
  border-radius: 50%; 
  background-color:#239888;
  padding: 8px;
  color: #dbdbdb;
}

.past-date {
  color: #dbdbdb;
}

.unselected-date:hover {
  border-radius: 50%;
  background-color: #dbdbdb;
  padding:8px;
  cursor: pointer;
}

.container-times {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.service-labels-container {
  display: flex;
  flex-direction: column;
}

.service-label {
  flex: 1;
  padding: 10px;
  background-color: #239888;
  color: #dbdbdb;
}

.service-times-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-timebox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.available-time {
  background-color: #90ef90;
  padding: 10px;
}

.unavailable-time {
  padding: 10px;
  background-color: #FF9478;
}

.selected-time {
  background-color: #007000;
  padding: 10px;
  color: #dbdbdb;
}
